


.header {
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Répartit l'espace disponible entre le logo et le menu */
    align-items: center; /* Aligne verticalement les éléments du header */
}

.logo {
    order: 1; /* Déplace le logo à l'extrême gauche */
    width: 201px;
    height: 19px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 37px;
}

.menu-container {
    order: 2; /* Déplace le menu de navigation à l'extrême droite */
    margin-right: 37px;


}

.menu li {
    margin-right: 37px;
    color: black;
   
}

.menu li a {
    text-decoration: none;
    color:#000000;
}

/*page d'accueil cannette/feuilles */

.wp-image-52{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1; /* Assure que la canette est au-dessus de la feuille */
}

.wp-image-53{
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Assure que la feuille est derrière la canette */
    width: auto; /* Ajustez la taille de la feuille selon vos besoins */
    margin-right: 100%;
   

}
.wp-image-54{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Assure que la feuille est derrière la canette */
    width: auto; /* Ajustez la taille de la feuille selon vos besoins */
    margin-right: 100%;
   
    
}



/*Titre des goûts page nous rencontrer*/
.elementor-31 .elementor-element.elementor-element-f734c02 .elementor-heading-title{
color:#FFFFFF;
opacity: 1;
position: absolute; /* Position absolue pour placer le titre au-dessus de l'image */
left: 95%; /* Centre le titre horizontalement */
top: 50%; /* Centre le titre verticalement */
transform: translate(-50%, -50%); /* Ajuste le positionnement pour le centrer parfaitement */
margin-top: -100px;
}

.elementor-31 .elementor-element.elementor-element-65856b0 .elementor-heading-title{
color:#FFFFFF;
opacity: 1;
position: absolute; /* Position absolue pour placer le titre au-dessus de l'image */
left: 62%; /* Centre le titre horizontalement */
top: 50%; /* Centre le titre verticalement */
transform: translate(-50%, -50%); /* Ajuste le positionnement pour le centrer parfaitement */
margin-top: -100px;
}
  
.elementor-31 .elementor-element.elementor-element-59eec00 .elementor-heading-title{
    color:#FFFFFF;
    opacity: 1;
    position: absolute; /* Position absolue pour placer le titre au-dessus de l'image */
    left: 40%; /* Centre le titre horizontalement */
    top: 50%; /* Centre le titre verticalement */
    transform: translate(-50%, -50%); /* Ajuste le positionnement pour le centrer parfaitement */
    margin-top: -100px;
}

.elementor-31 .elementor-element.elementor-element-2381e16 .elementor-heading-title{
    color:#FFFFFF;
    opacity: 1;
    position: absolute; /* Position absolue pour placer le titre au-dessus de l'image */
    top: 50%; /* Centre le titre verticalement */
    transform: translate(-50%, -50%); /* Ajuste le positionnement pour le centrer parfaitement */
     margin-top: -100px;
}


.elementor-37 .elementor-element.elementor-element-63f727f h2.elementor-heading-title{
    color: #000000;
}