

/* En-tête mobile*/
@media screen and (max-width: 768px) {
    .header{

       display: flex;
       flex-direction: column;
      height: 90px;

       
        
    }
    .logo {
        order: -1; 
        width: 50px;
        height: 15px;
        margin: 20px 0 0 0; 
        align-self: center;
    }
    .menu-container {
        order: 1; 
        margin: 20px 10px 20px 0px; 
        width: 100%; 

        
    }
    .menu li {
        margin-right: 0; 
        color: #000000;
        font-family: 'Syne', sans-serif;
        font-size: 13px;
        display: block;
        text-align: center; 
        margin-bottom: 25px;
       
    }
    li.menu-item-180{
        background-color: #E0B9B4;
        width: 260px;
        height: 70px;
        padding: 9px 57px;
      
    
        
    }
    li.menu-item-180 a{
        color: #FFFFFF;
        margin-left: -20px;
        height: 30px;
     }
     

}

    /*En-tête*/
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 66px;
    
}

.logo {
    order: 1; 
    width: 201px;
    height: 19px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 37px;
}

.menu-container {
    order: 2; 
    margin-right: -39px;
    
}

.menu li {
    margin-right: 37px;
    color: #000000;
    font-family: 'Syne',sans-serif;
   
}

.menu li a {
    text-decoration: none;
    color: #000000;
   
    
   
}

li.menu-item-180{
    background-color: #E0B9B4;
    width: 200px;
    height: 70px;
    padding: 9px 57px;
  

    
}
li.menu-item-180:hover{
    background-color:#C02E44;

}
li.menu-item-180 a{
   color: #FFFFFF;
}
li.menu-item-181:hover{
    font-weight: bold;
    font-size: 15px;
   

}

/*Footer */

footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 25px; 
   background-color: #FFFFFF;
}

.mention-legale {
    margin: 5px;
    width: 200px;
}

footer a {
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Syne', sans-serif;
    margin-top: -10px;
}

footer a:hover {
    color: #000000;
}


/*page d'accueil cannette/feuilles */

.wp-image-52{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.wp-image-53{
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    z-index: 0; 
    width: auto; 
    margin-right: 100%;
   

}
.wp-image-54{
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    z-index: 0; 
    width: auto; 
    margin-right: 100%;
   
    
}




/*Fleur formulaire de contact*/
.elementor-widget-metform{
    z-index: 5;


}

.wp-image-452{
    z-index: 2;
    position: relative;
   top: 48px;
    left: -35px;

}

/*Quantité*/
 .elementor-counter{
    background-color: #FFFFFF;
    width: 39px;
    height: 50px;
    top: 523px;
    left: 400px;
    right: 100px;
    padding-bottom: 4px;
    margin-left: 200px;
    
}


